.item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.btn-pay {
    background-color: #C800Da;
    border: 0;
    color: #fff;
    font-weight: 600;
}

.fa-ticket {
    color: #0e1fa1;
}
select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #535151;
    flex: 1;
    padding: 0 .5em;
    color:rgb(253, 247, 247);
    cursor:pointer;
    font-size: 1em;
    font-family: 'Oleo Script';
  }
  select::-ms-expand {
    display: none;
  }
  .select {
    position: relative;
    display: flex;
    width: 10em;
    height: 3em;
    line-height: 3;
    background: #ffff;
    overflow: hidden;
    border-radius: .25em;
  }
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #8a8a8a;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
  }
  .select:hover::after {
    color: #23b499;
  }